
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:fullscreen;
	width:100%;
	justify-content:center;
	align-items:center;
	position:center;
	background-color:red;
}
.item-1{
	border:1px solid black;
}